<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resident Dashboard | TakaLink</title>
</head>
<body>

    <h1>♻️ TakaLink</h1>

    <h2>Resident Dashboard</h2>

    <p>
        Welcome,
        {{ user.first_name|default:user.username }}!
    </p>

    <p>You are logged in as a resident.</p>

    <h3>Waste Collection</h3>

    <p>
        <a href="{% url 'create_collection' %}">
            Create Collection Request
        </a>
    </p>

    <p>
        <a href="{% url 'collection_history' %}">
            View Collection History
        </a>
    </p>

    <p>
        <a href="{% url 'create_waste_report' %}">
            Report Waste Problem
        </a>
    </p>
    <p>
        <a href="{% url 'waste_report_history' %}">
            View Waste Report History
        </a>
    </p>

    {% if user.resident_profile %}
        <h3>Your Profile</h3>

        <p>
            Phone:
            {{ user.resident_profile.phone_number }}
        </p>

        <div>
            <h3>🌱 Green Points</h3>

            <p><strong>{{ resident_profile.points }} Points</strong></p>

            <p>
                Level: <strong>{{ resident_profile.green_level }}</strong>
            </p>

            <div>
                <div
                    style="
                        width: 300px;
                        height: 20px;
                        border: 1px solid #333;
                    "
                >
                    <div
                        style="
                            width: {{ resident_profile.green_progress }}%;
                            height: 100%;
                            background-color: green;
                        "
                    ></div>
                </div>
            </div>

            {% if resident_profile.points_to_next_level > 0 %}
                <p>
                    {{ resident_profile.points_to_next_level }}
                    points until {{ resident_profile.next_green_level }}
                </p>
            {% else %}
                <p>🏆 You have reached the highest level!</p>
            {% endif %}
        </div>
    {% else %}
        <p>You do not have a resident profile yet.</p>
    {% endif %}

    <p>
        <a href="{% url 'green_points_history' %}">
            View Green Points History
        </a>
    </p>

    <p>
        <a href="{% url 'logout' %}">Logout</a>
    </p>

</body>
</html>